@charset "utf-8";

/* グーグルフォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Molle:ital@1&family=Roboto+Slab:wght@900&display=swap');

/* 全体のスタイル */
* {
  box-sizing: border-box;
  margin: 0;
}

/*ボタンのスタイルのリセット*/

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

body {
  background: #000;
}

/* ヘッダー部分 */
header {
  color: white; 
}



#header_contents {
  display: flex;
  justify-content: space-between;
}

#header_contents h1 {
  font-family: 'Roboto Slab', serif;
  margin-left: 12px;
}

#tiger {
  cursor: pointer;
  opacity: 0;
  transition: 2s;
}

#modal_back {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 隠すためのクラス */
.none {
  display: none; 
}


/*///////// Timerのスタイル /////////////*/
#timer_section {
  height: 100px;
  background: #000;
  color: white; 
  display: flex; 
  justify-content: flex-start;
  align-items: flex-end;
}

.timer_content {   
    width:350px;
    padding:15px;
    font-size:48px;       
}

.timer_content p{
    margin:0;
    padding:0;
}

.start_button{
text-align: center;
}

.stop_button{
text-align: center;
}

#timesave_btn,
#start {
  color:#000; 
  background-color: #fff;
  margin-left: 12px;
  height: 24px;
  width: 72px;
  font-size: 16px; 
}

#minute {
  height: 36px;
  width: 180px;
  margin-bottom: 12px;
  margin-right: 8px;
  font-size: 24px;
}


/* コンテンツ */

#contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ///////////メモのスタイル ////////////*/

#memo_wrapper{
  width: 800px;
  height: 650px;
  background-color: #fff;
}

#savememo_btn,
#clearmemo_btn {
  background: #000;
  color: #fff;
  height: 24px;
  width: 72px;
  margin: 12px;
}

textarea {
  width: 720px;
  min-height: 160px;
  margin-left: 24px;
  font-size: 20px;
}

#area_1 {
  background: #F4F3F4;
}

#area_2 {
  background: #015BA4;
  color:#fff;
}

#area_3 {
  background: #B50B20;
  color:#fff;
}

/*///////// TO DOのスタイル /////////////*/
#todo_wrapper {
  background-color: #000;
  width: 480px;
  height: 650px;
  padding: 20px;
}

.check {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left:12px;
  background-color: yellow;
  
}

#input_contents {
  margin-bottom: 16px;
}

#todo {
  width: 300px;
  height: 48px;
  font-size: 24px;
} 

/* 追加ボタン */
#add_btn {
  background: white;
  width: 48px;
  height: 48px;
  margin: 0;
  
}

/* クリアボタン */
#clear_btn {
  background: white;
  height: 48px;
  width: 56px; 
}

.todo_txt {
  line-height: 48px;
  width: 418px;
  background: white;
  font-size: 24px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.delete_btn {
  height: 48px;
  width: 48px;
  font-size: 32px;
  color: #fff;
  background-color:#000;
}
